# IDE specific
.idea/
.vscode/
.vscode
.vscode/*

# Byte-compiled / optimized / DLL files
__pycache__/*
__pycache__/

*.py[cod]
*$py.class

*.sqlite3

.venv
.venv/*
.env
.env/*

env/
venv/

ENV/
env.bak/
venv.bak/

### Project specific ###
settings_local.py
config.py
.yui
*/reference_solution.py

*.code-workspace

### OS specific ###
.DS_Store