{% extends "school/base.html" %}
{% load static %}

{% block title %}Список учителей{% endblock %}

{% block content %}
<div class="row">
  <ul>
    {% for teacher in teachers %}
      <li>
        <i> Предмет: {{ teacher.subject }} </i> <br>
        Учитель: {{ teacher.name }} <br>
        <u> Ученики: </u> <br>
        {% for student in teacher.students.all %}
          {{ student.name }}, "{{ student.group }}" <br>
        {% endfor %} <br>
      </li>
    {% endfor %}
  </ul>
</div>
{% endblock %}
