<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Каталог книг</title>
</head>
<body>
    {% extends "base.html" %}

    {% load static %}

    {% block content %}
        <div class="container">
            <div> 
                <h1>Каталог</h1>
            </div>

            <div class="row">
                {% for book in books %}
                <div class="book col-md-4">
                    <h4>
                        <a href="{% url 'show_book' book.slug %}">{{ book.name }}</a>
                    </h4>
                    <p>Автор: {{ book.author }}</p>
                    <p>Дата публикации:<br>{{ book.pub_date }}</p>
                </div>
                {% endfor %}
            </div>
        </div>
    {% endblock %}    
</body>
</html>


