<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Библиотека</title>
</head>
<body>
    {% extends "base.html" %}
    
    {% load static %}
    
    {% block content %}
        <div class="container">
            <div class="header">
                <h1><a href="/create_db">Библиотека</a></h1>
                <h1><a href="/books">Каталог</a></h1>
            </div>
        </div>
    {% endblock %}    
</body>
</html>