<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    {% extends "base.html" %}

    {% load static %}
    
    {% block title %}{{ book.name }}{% endblock %}

    {% block content %}
    <div class="container">
        <div class="header">
            <h4>
                <a href="{% url 'books' %}">Вернуться в каталог</a>
            </h4>
        </div>
        <div class="row">
            {% comment %} {% for book in books %} {% endcomment %}
            <div class="book col-md-4">
                <h3>{{ book.name }}</h3>
                <p>Автор: {{ book.author }}</p>
                <img height="350" src="{{ book.image }}" alt="{{ book.name }}"/>
                <p>Дата публикации:<br>{{ book.pub_date }}</p>
            </div>
            {% comment %} {% endfor %} {% endcomment %}
        </div>
    </div>
    {% endblock %}    
</body>
</html>

